#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 182, 182);
    border-radius: 5px;
    background-color: rgb(183, 182, 182);
    padding: 10px;
}

#header_buttons {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

#header_buttons > button {
    border: none;
    background-color: rgb(183, 182, 182);
    cursor: pointer;
    border-radius: 5px;
}

#header_buttons > button:hover {
    background-color: rgb(116, 115, 115);
    color: white;
}

#profile_pic_div > #profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 40px;
}

#main_content_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#posts {
    margin-left: 40px;
    margin-right: 40px;
}

.post {
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
}

.post_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.post_pic_div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.post_pic {
    width: 100%;
    height: 100%;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(183, 182, 182);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(183, 182, 182);
}